body {
    display: block;
    margin: 8px;
}

.wrapper {
    background-color: #fcfcfc;
    z-index: 0;
    position: relative;
}

div {
    display: block;
}
.navbar {
    height: 70px;
}
.header {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.description {
    padding: 4%;
    width: 350px;
    max-width: 70%;
}
h1 {
    font-size: 48px;
}
p, h1 {
    font-family: 'Roboto', 'Segoe UI', sans-serif;
}
h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.Farah {
    
    color: black;
    position: relative;
    display: inline-block;
}

.Farah::after {
    content: "";
    position: absolute;
    width: 110%;
    left: -.1em;
    top: .6em;
    height: .6em;
    z-index: -1;
}
.profile {
    padding: 4%;
    width: 300px;
    max-width: 70%;
}
.profile-cropper {
    border-radius:0lh;
    overflow: hidden;
}
.profile-pic {
    object-fit:contain;
    display:block;
    width: 100%;
    height: auto;
}
user agent stylesheet
img {
    overflow-clip-margin: content-box;
    overflow: clip;
}
.select {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.select-item {
    padding: 1%;
    font-weight: bold;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.option {
    color: black;
    font-weight: bold;
}
.highlight {
    position: relative;
    display: inline-block;
}
.highlight::after {
    content: "";
    position: absolute;
    width: 100%;
    background: gray;
    left: -2px;
    top: .75em;
    height: .5em;
    z-index: -1;
    transition: 0.2s;
}
.body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.box {
    background-color: rgb(238, 243, 244);
    border: 2px solid #999;
    border-width: 2px 0px 2px 0px;
    border-radius: 0px;
    padding: 20px 0px 20px 0px;
    line-height: 26px;
    width: 100%;
    position: relative;
    z-index: 0;
    transition: 0.2s;
    display: flex;
    justify-content: center;
}
.text {
    width: 67%;
}
a {
    text-decoration: underline;
    color: rgb(46, 113, 122);
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}
